

.cont{
  background-color: springgreen;
  height : 350px;
  width: 45%;
  margin: 15% auto;
  color: white;
  text-align: center;
  border-radius: 15px;
  border-style: none;
  padding-top: 15px;
}

input , button{
  height: 25px;
  width: 40%;
}

button{
  width: 10%
}
.error{
  color: red;
}